body{

    font-family:"roboto";
    margin:0 auto;
    width:1000px;
    color:white;
    background-color: rgb(212,  206, 182);
}

.heading-container {
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
    align-items: center;
    background-color:rgb(129, 117, 111);
    color: white;
    font-size: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px; 
    background-color:rgb(100, 200, 125);  
    color: #ffffff;  
    text-decoration: none;
    border: none;  
    border-radius: 5px;   
}

.background-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.main{
    color:white;
    text-decoration: none; 
}

.flex-container {
    display: flex;
    background-color:rgb(190, 183, 160);
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

nav a:link,
nav a:visited,
.button {
    background-color: rgb(129, 117, 111);
    color: white;
    display: block;
    border-radius: 20px;
    text-align: center;
    padding: 12px 90px;
    text-decoration: none;
}
#kyc-button{
    background-color:rgb(100, 200, 125) ;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(129, 117, 111);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: none;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.highlight {
    background-color: rgb(100, 200, 125);
}

.p1{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(129, 117, 111);
    color:white;
    height: 50px;
    font-size: 22px;
    padding: 10px;
    align-items: center;
}
.pa1{
    width: 250px; 
    height: 40px; 
    padding: 6px;
    border-radius: 5px;
}

.pb1{
    width: 300px; 
    height: 20px; 
    padding: 7px;
}

#gaiaLinkButton{
    width: 120px; 
    height: 30px; 
    padding: 6px;
    border-radius: 5px;
    border: none;
}

#searchType{
    width: 120px; 
    height: 30px; 
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.purple{
    display: flex;
    background-color:rgb(129, 117, 111);
    color:white;
    height: 4vh;
    font-size: 22px;
}

.sub1{
    display: flex;
    background-color:rgb(129, 117, 111);
    color:white;
    font-size: 19px;
}
.gridA1 {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   gap: 5px; 
}

.grid-itemA1 {
    padding: 1rem; 
    border: none; 
    color: black;

}

.col1,.col2, .col3, .col4 > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-itemA1 input{
    border: none;
    border-radius: 4px;
    height: 20px;
}

/* New.html */

.flex-item2{ 
    padding: 10px 10px;         
    border: none; 
    border-radius: 10px; 
    width: 180px;
    height: 40px;
}

#ind{
    background-color:rgb(100, 200, 125);
    color:white;
}

#ent{
    background-color:rgb(129, 117, 111);
    color:white;
}

#ind1{
    background-color:rgb(129, 117, 111);
    color:white;
}

#ent1{
    background-color:rgb(100, 200, 125);
    color:white;
}

/* CSS for upload buttons */
.upload {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(129, 117, 111);
    color: white;
    height: 80px;
    font-size: 22px;
    padding: 10px;
    align-items: center;
}

.upload img {
    margin-right: 10px;
}

.upload label {
    padding: 10px 20px;
    background-color: rgb(100, 200, 125);
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.upload input[type="file"] {
    display: none;
}

/* Spinner CSS */
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


.grid {
    display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

.grid-item {
    flex: 1; 
  padding: 1rem; 
  border: none;
  color: black;
}
.grid-item input{
    border: none;
    border-radius: 4px;
    height: 20px;
}

.rowB1,.rowB2, .rowB3, .rowB4 > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex2{
    display: flex;
    background-color:rgb(212,  206, 182);
    color:white;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
}

.input{
    background-color:rgb(100, 200, 125); 
    padding: 10px 10px;         
    border: none; 
    border-radius: 10px;         

}

#submit{
    background-color:rgb(100, 200, 125);
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 120px;
    margin: 0, 0;
    color: white;
}
.mini {
    display: flex;
    font-size: 18px;
    color: black;
    justify-content: space-evenly;
    align-items: center;
  }

.mini input{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 180px;
}
.mini > select {
    height: 40px;
    width: 180px !important;
    border: none;
    border-radius: 5px;
}

/*Entity*/

.entity-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
}

.e {
    padding: 1rem; 
    border: none; 
}

.col1-entity, .col2-entity, .col3-entity > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.e > select, input{
    border: none;
    border-radius: 5px;
    height: 20px;
}

.file-input-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(100, 200, 125); 
    color: #fff; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-input-label input[type="file"] {
    display: none;
  }

.s input{
    width: 120px;
    border: none;
}


/*non us consumer*/

.sub-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
 }
 
 .sub-grid-item {
     padding: 1rem; 
     border: none; 
     color: black;
 }
 
 .colx,.coly, .colz, .cola > * {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .sub-grid-item input{
    border: none;
    border-radius: 4px;
    height: 20px;
}

 .miniflex{
    display: flex;
    background-color:rgb(129, 117, 111);
    height: 42px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.miniflex label {
    color: white; 
    font-family: roboto; 
    font-size: 16px; 
    text-align: center;
}

 #viewMoreBtn{
    background-color:rgb(129, 117, 111);
    border-radius: 10px;
    border-color: rgb(129, 117, 111);
    width: 120px;
    height: 22px;
    color: white;
 }

 /*spDD*/

 #spDDmain{
    background-color:rgb(100, 200, 125);
 }
 #addtype {
    width: 300px; 
    padding: 10px; 
}

#addtype option {
    font-size: 14px; 
    padding: 8px; 
}

.spdd-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
}

.s {
    padding: 1rem; 
    border: none; 
}

.result1,.result2, .result3 > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.s input{
    width: 120px;
    border: none;
    border-radius: 10px;
}

 /*EDD*/

 #EDDmain{
    background-color:rgb(100, 200, 125);
 }

#ofacmain {
    background-color: #c7c6c2;
    color: white;
    display: block;
    border-radius: 20px;
    text-align: center;
    padding: 12px 90px;
    text-decoration: none;
}

.check input{
    height: 20px;
    width: 20px;
}

 /*HOVER*/

 
.hover-info::after {
    content: attr(data-info);
    display: none;
    position: relative;
    background-color: #fff;
    color: black;
    padding: 5px;
    height: auto;
    font-size: 14px;
    border-radius: 5px;
    z-index: 1;
}

.hover-info:hover::after {
    display: block;
    text-decoration: black;
}

.pa1:hover{
    background-color: white;
    display: block;
    text-decoration: black;
}



/* Tooltip styles */ 
.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 9999;
    font-size: 14px;
    color: black;
  }

/*VIEW DOCUMENT*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
.close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: white; 
}

/*UPLOAD BUTTON*/

.button-container {
    position: relative;
    display: inline-block;
}

.input {
    opacity: 0;
    width: 0;
    height: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    position: relative;
    top: 5px; 
    right: 5px;
    width: 20px;
    height: 20px;
}

